<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}New Age - Start Bootstrap Theme<{% endblock title %}</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
                {% load static %}
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
            <style>
                td {
                    font-size: 20px;
                    padding: 8px;
                    position: relative;
                }

            </style>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container px-5">
                <a class="navbar-brand fw-bold" href="{% url 'advertisement_list' %}">Главная</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'comment_list' %}">Отклики</a></li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link me-lg-3" href="http://127.0.0.1:8000/accounts/logout/">Выйти из системы</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link me-lg-3" href="http://127.0.0.1:8000/accounts/login/">Войти</a></li>
                        {% endif %}
                    </ul>
                        <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal" href="{% url 'ad_create' %}">
                            <span class="d-flex align-items-center">
                                <i class="bi-chat-text-fill me-2"></i>
                                <span class="small">Создать объявление</span>
                            </span>
                        </a>
                </div>
            </div>
        </nav>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

                <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>{% block content %}A Bootstrap 5 Starter Template</h1>
                <p class="lead">A complete project boilerplate built with Bootstrap</p>
                <p>Bootstrap v5.2.3{% endblock content %}</p>
            </div>
        </div>
    </body>
</html>
